{% extends "base.html" %}

{% block body %}

<h1>מה זה חיסיון 70 (ג1)?</h1>


<p>על פי חוק בתי המשפט, סעיף 70 (ג1), אסור לפרסם שם או תעודת זהות של תובע נזקי גוף.</p>
<p>במקרים בהם יש למערכת האוטומטית של תועלת המשפט יסוד להניח שמדובר בתביעת נזקי גוף אז התובע ומסמכי ההחלטות לא יופיעו על מנת להגן על זהות התובע כמצוות החוק.</p>
<p>אם הנך סבור שמידע צונזר ובטעות, או חשוף בטעות, פנה אלינו ונפעל לתקן.</p>
<p>ברוב המקרים המידע כן קיים באתר האינטרנט נט המשפט ומפורסם שם על אחריות מערכת בתי המשפט.</p>
<p>5 במאי 2020: נוספו להסדר הזה תיקי ביטוח לאומי מסוג "נפגעי עבודה".</p>
{% endblock %}