{% extends "base.html" %}

{% block body %}

<h1>יומן שינויים</h1>
<p>27 בדצמבר 2020: דף מפתחים.</p>
<p>27 ביוני 2020: גירוד עצמי של מסמכים וישיבות. הסרת הדף של רשימת תיקים.</p>
<p>29 בפברואר 2020: הכנות לאתר ייעודי על <a href="https://xn----8hcdjg1aqa6a1cp.xn--9dbq2a/">משפט נתניהו<a/>.</p>
<p>30 בנובמבר 2019: הסתרת נאשמים שנמצאו אי כשירים לעמוד לדין.</p>
<p>27 בספטמבר 2019: עידכון דף אודות, הוספת דף רשימת תיקים.</p>
<p>20 בספטמבר 2019: תמיכה בתיקי תעבורה.</p>
<p>31 באוגוסט 2019: הוספת כתבי טענות בתביעות ייצוגיות.</p>
<p>23 באוגוסט 2019: הסתרת שמות של תובעים על נזקי גוף.</p>
<p>31 ביולי 2019: אי הסרת מידע.</p>
<p>19 ביולי 2019: תיקים קשורים.</p>
<p>23 ביוני 2019: הוספת תיקי ת"א, עוד מידע על תיק.</p>
<p>8 ביוני 2019: דף נחיתה להחלטות, הוסת שדות לפי פרוטוקול og.</p>
<p>1 ביוני 2019: קישורי ישויות ושחקנים חוזרים.</p>
<p>29 במאי 2019: כתובת מקוצרות עם העתקה. דפים סטטיים.</p>
<p>24 מאי 2019: באוויר.</p>


{% endblock %}