{% extends "base.html" %}

{% block body %}

<h1>מדיניות פרטיות</h1>


<p>    אתר תולעת המשפט (להלן: "האתר"), אוסף מידע שאינו מזוהה באופן אישי מהסוג שדפדפני אינטרנט ושרתים עושים בהם שימוש בדרך כלל, כמו סוג הדפדפן, שפה, האתר המפנה, המועד כתובת אינטרנט וכדומה.

<p>    מטרת האיסוף היא להבין טוב יותר את המבקרים באתר. כך גם עשוי להיות שימוש בעוגיות (Cookies), שהם קבצים המאוחסנים במחשבו של המבקר ומאפשרים לבצע מעקב אחרי ביקורים חוזרים באתר.

  <p>  באפשרות המבקר, להגדיר בדפדפן כי הוא ימנע משמירת הקבצים במחשב המבקר ובכך לחסום אפשרות מעקב זו.

<p>האתר משתמש בגוגל אנליטיקס לאיסוף סטטיסטיקות על דפוסי הגלישה בו.
   <p> האתר כולל קישורים למקורות חיצונים ובמקרים אלה לא יהיו לאתר או מי מבעליו או מפעילו כל אחריות.</p>

<p>תקראו גם:
<a href="{{url_for('static_blueprint.no_censorship')}}">אי הסרת מידע.</a>
</p>


<p>עודכן ביום 27/5/2019
<p>גרסה 1.0
<p>עודכן ביום 31/7/19</p>
<p>נוספה הפניה לדף אל אי מסירת מידע.</p>
<p>עידכון 12 בפברואר 2020: האתר עושה שימוש בריקאפצ'ה של גוגל על מנת לעקוב אחרי צפיות בתיקים על ידי הגולשים ולתזמן אותם לגירוד חוזר קרוב.</p>
<p>עידכון 11 במרץ 2020: תיקים שנצפים על ידי גולשים מתוזמנים לגירוד חוזר בעדיפות גבוהה.</p>

{% endblock %}