{% extends "base.html" %}

{% block body %}

<h1>{{h.website_name}}</h1>

<p>
פרויקט תולעת המשפט נועד לספק פלטפורמה להנגשת מידע על הנעשה בבתי המשפט בישראל אשר נאסף ממערכות מידע ממשלתיות.
</p>
<p>האתר מופעל על ידי <a href="https://octopus.org.il/">התמנון - מידע ציבורי לכל</a> (ע"ר).</p>
<p>
למען הספק ספק, תולעת המשפט הינו יוזמה עצמאית ופרטית והוא לא נעשה מטעם או בשם גוף ממשלתי זה או אחר.
</p>
<p>
פריטי המידע באתר מועלים מעת לעת באמצעות תוכנת מחשב אשר סורקות אתרים ממשלתיים.
</p>
<p>
מקורות המידע של תולעת המשפט הם נט המשפט ואתר האינטרנט של בית המשפט העליון.
</p>
<p>
סביב נתונים אלו נבנות יכולות נוספת כמו קישור בין פריטי המידע, חיפוש, ועוד. פונקציונליות האתר תשתנה מעת לעת כפי שימצאו לנכון מפעילי האתר.
</p>
<p>
    בבואך להשתמש במידע שבאתר זה עליך לקחת בחשבון מספר נקודות:

</p>
    <p>
עידכון: תולעת המשפט איננה יכולה ואיננה מתיימרת להתעדכן בזמן אמת עם האתרים הממשלתיים. ייתכן כי הנתונים עודכנו, שונו ואף נמחקו כליל מאז הועלו לתולעת המשפט.
        </p>
<p>
דיוק: טעות לעולם חוזרת. ייתכנו תקלות מחשב וטעויות אנוש הן בתולעת המשפט והן באתרים הממשלתיים מהם נשאב המידע.
   </p>

<p>

שלמות: תולעת המשפט איננה יכולה ואיננה מתיימרת לשקף את מצבם של כל התיקים, ואף לא חלק משמעותי מהם. גם בתיק ספציפי ייתכנו חוסרים ופערים. מגבלת משאבים, ריבוי ערכאות ומערכות ממשלתיות, תקלות, והעובדה שחלק מהתיקים חסויים, ולא כל המידע בכל תיק זמין לציבור הרחב, מונעים מתולעת המשפט להציג את כל התיקים או את כל פרטי המידע בכל תיק.
    </p>
<p>
זהות הגורמים: תולעת המשפט איננה יכולה ואיננה מתיימרת לזהות את הגורמים השונים המשתתפים בכל תיק (שופטים, בעלי דין, באי כחם). לעיתים שם של גורם כתוב בצורה שונה, ויש לפעמים שלגורמים שונים שם זהה. אי לכך אין לראות בשום מידע המופיע בתולעת המשפט כחל על אדם או תאגיד כלשהו.
   </p>
<p>
השימוש באתר נעשה על אחריות המשתמש הבלעדית והמלאה. לא תהיה למשתמש כל טענה, תביעה או דרישה כלפי תולעת המשפט או מפעיליו בגין תכנים, מידע, חוסר, אי דיוק, טעות או כל נושא אחר המצא באתר.
</p>
<p>
לצורך אימות התוכן ניתן לפנות לגורמים הרשמיים הרלבנטיים.
</p>
    <p>
לפניות: נא לשלוח הודעה פרטית למנהלי הדף "תולעת המשפט" <a href="https://www.facebook.com/tolaatmish/">בפייסבוק</a>.
</p>

<h4>תוכן גולשים.</h4>
<p>בפברואר 2020 התחלנו תקופה הרצה של תוכן גולשים, במסגרתה בכמות קטנה מהתיקים מציגים מסמכים שנשלחו על ידי גולשים.</p>
<p>מדובר בכתבי טענות, פרוטוקולים, החלטות פתקית וכיוצא באלה מסמכים שלא פורסמו בצד הגלוי של אתר ממשלתי.</p>

<p>תקראו גם:
<a href="{{url_for('static_blueprint.no_censorship')}}">אי הסרת מידע</a>  (נוסף ב-31 ביולי 2019).
</p>

<p>1 באוגוסט 2020: למען הסר ספק, אנחנו שומרים לעצמינו את הזכות לפרסם מכתבים מעורכי דין בנושא הסרת תכנית והתראות לפני נקיטט הליכים שיופנו נגד אתר תולעת המשפט</p>




<p>עודכן ביום 31/7/2019</p>
<p>נוספה הפניה לדף אל אי מסירת מידע.</p>

<p>עודכן ביום 27/9/2019</p>
<p>נוסף כי עמותה מנהלת את האתר.</p>

<p>עודכן ביום 22/02/2020</p>
<p>תוכן גולשים בהרצה.</p>

<p>עודכן ביום 1/8/2020</p>
<p>הזכות לפרסם מכתבים מעורכי דין וקישורית לאתר התמנון.</p>

<p>כתובת אימייל: tolaat.tl8@gmail.com.</p>
{% endblock %}