{% extends "base.html" %}

{% block body %}

<br/>

<h3><a href="{{url_for('view_blueprint.x_case', hebrew_type=hebrew_type, viewid=viewid)}}">{{case_name}}</a></h3>
{% if type=='decisions' %}
    <h1>{{decision.name}}</h1>
    <h2>{{decision.signer}}, {{decision.date}}</h2>
    {% include "short.html" %}
{% else %}
    <h1>{{decision.name}}</h1>
    <h2>{{decision.date}}</h2>
{% endif %}
<br/>

{% if not censored %}
    <a href="{{url_for('doc_blueprint.x_document_download', hebrew_type=hebrew_type, viewid=viewid, decisionnumber=decisionnumber, document_type=h_type)}}">
        {{h.download}}
    </a>
{% else %}
    {{h.hidden_document}}
{% endif %}
<br/>

{% if not is_mobile and not censored %}
    <embed oncontextmenu="return false;"
           src="{{url_for('doc_blueprint.x_document', hebrew_type=hebrew_type, viewid=viewid, decisionnumber=decisionnumber,document_type=h_type)}}#toolbar=0"
                width="750" height="500"
     type="application/pdf">
{% endif %}

{% endblock %}