{% extends "base.html" %}

{% block body %}

<h1>אי הסרת מידע</h1>


<p>אתר תולעת המשפט מפרסם מידע משפטי פומבי שמותר לפרסום על פי חוק.</p>
<p>המטרה שלנו היא להגשים את הערך של פומביות הדיון ולהביא לדמוקרטיזציה בגישה למידע משפטי.</p>
<p>אנחנו מודעים לכך שפרסום מידע משפטי עלול לעיתים לגרום לחוסר נוחות, במיוחד כאשר איננו מרוצים מהתוצאה אליה הגיע בית המשפט.</p>
<p>אנחנו מכבדים כל אדם באשר הוא, ללא קשר למצבו המשפטי ולהחלטות שניתנו או לא ניתנו בעיניניו.</p>
<p>אנחנו מכבדים את מערכת המשפט, השופטים שמשרתים בה, עובדיה, ועורכי הדין שמופיעים בפניה.</p>
<p>דרך אחת שבה אנחנו מבטאים את הערכים הללו היא פרסום מידע בצורה תמציתית ועניינית ללא הוספת דברי פרשנות, כתבות, או תמונות אילוסטרציה.</p>
<p>דרך נוספת שבה אנחנו מיישמים את הערכים שלנו, היא שאיננו מסירים מידע מהאתר.</p>
<p>אם מצאתם טעות באתר, הודיעו לנו נפעל לתקן את הטעות.</p>
<p> אם פריט מידע מסויים באתר נוגע לכם או ליקרים לכם והנכם מעוניינים לשתף אותנו, <a href="{{url_for('static_blueprint.contact')}}">דברו איתנו</a>. אנחנו משתדלים לענות לכל הפונים. אך כאמור לעיל, לבקשות למחיקת מידע בדרך כלל לא נוכל להיענות.</p>
<p>תולעת המשפט תכבד צווי איסור פרסום שיובאו לידיעתה.</p>
<p>תוספת 23 באוגוסט 2019: תולעת המשפט מצנזרת שמות של תובעים בתביעות נזקי גוף. אם מצאתם טעות בנושא פנה אלינו ונפעל לתקן.</p>
<p>30 בנובמבר 2019: איננו מציגים שמות של נאשמים שנמצאו אי כשירים לעמוד לדין.</p>
<p>הוסף ביום 31 ביולי 2019.</p>





{% endblock %}